<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=z, initial-scale=1.0">
    <title>LoginPage</title>
</head>

<style>
    .container{
        padding-left: 40%;
        padding-right: 40%;
        padding-top: 10%;
    }
</style>

<body>
    <div class="container">
        <h1>Login</h1>

        <form method="POST">
            <h4>Email</h4>
            <input type="text" name="email">
            <h4>Password</h4>
            <input type="password" name="password"><br><br>
            <input type="submit">
            <h2>Don't have account? Register here</h2>
            <a href="/register">Register</a>
        </form>

    </div>
    
</body>
</html>